{% extends "/templates/base.html" %}
{% block content %}


<div class="container">
    <div class="index-container">
        <div class="index-item">
            <p>BSE Data of {{ date }}</p>
        </div>
        <div class="index-item">
            <form class="form-inline my-2 my-lg-0" method="GET" action="index">
                <div class="in">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="length" size="10">
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0 in-btn" type="submit">Search</button>
            </form>
        </div>
    </div>
    {% if date != today %}
        <div class="alert alert-warning" role="alert">
            Today's Bhav report is yet to be published. So we are showing you the last Bhavcopy report
        </div>
    {% endif %}

    <div>
        <table class="table">
            <thead class="table-dark">
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Open</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Close</th>
            </thead>
            <tbody>
                {% for i in data %}
                    <tr>
                        
                        <td>{{ i.code }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.open }}</td>
                        <td>{{ i.high }}</td>
                        <td>{{ i.low }}</td>
                        <td>{{ i.close }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if count == 1%}
        <!-- <form method="get" action="index">
                
                    <button  class="btn btn-outline-success my-2 my-sm-0 in-btn" type="submit" onclick="decFunc()">Dec</button>
               

                <input class="form-control mr-sm-2" id="val" type="text" value={{ val }} name="val" size="10" />
                <button class="btn btn-outline-success my-2 my-sm-0 in-btn" type="submit" onclick="incFunc()">Inc</button>

        </form> -->
        <form class="form-inline my-2 my-lg-0" method="GET" action="index">
            {% if val | int >= 0 %}
                <button class="btn btn-outline-success my-2 my-sm-0 in-btn" type="submit" onclick="decFunc()">Dec</button>
            {% endif %}
            <div class="in">
                <input class="form-control mr-sm-2" id="val" type="text" value={{ val }} name="val" size="10" />
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0 in-btn" type="submit" onclick="incFunc()">Inc</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}